body{
    font-family: 'Lato', sans-serif;margin:0;
    letter-spacing: 0.05rem;
    padding:0;
}
h1{ 
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    margin-bottom: 4%;
    font-size: 60px;
}
h2,h3{
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
}
p{
    line-height: 1.8em;
}
.pink{
    color:rgb(255,165,169);
    font-style: italic;
}
.z1{
    position: relative;
    z-index: 1;
}
.z2{
    position: relative;
    z-index: 2;
}
.z3{
    position: relative;
    z-index: 3;
}
.center{
    text-align: center;
}

.margin10{
    margin:0 10vw;
}
.relative{
    position: relative;
}
nav{
    width:100%;
    position: fixed;
    bottom: 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.061) 0px -5px 10px;
    z-index: 4;
}
nav div{
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
nav h2{
    margin:.55em;
}
nav a{
    color:black;
    text-decoration: none;
}
nav a:hover{
    background-color: rgb(255,211,207);
}
.logo{
    height:125%;
    position: absolute;
    margin-left:4%;
    top:-15%;
}
.logo:hover{
    height:135%;
    top:-22%;
    margin-left:3.8%;
}

/*home*/

.hero{
    height: 94vh;
    background-color: yellow;
}
.title{
    position: absolute;
    height: 94vh;
}
.noOverFlow{
    overflow: hidden;
}
.col{
    width:100%;
    display:flex;
    column-gap: 5%;
    align-items: flex-start;
    justify-content: space-between;
}

.p1{
    margin-left:10vw;
    width:40vw;
    margin-bottom: 5%;
    flex: 500px 1 1;
}
.p2{
    width:48%
}

.cta1{
    line-height: 0;
    margin-top: 7%;
    position:relative;
    height:2em;
}
.cta1 a{
    padding: 0px 10px;
    background-color: yellow;
    position: absolute;
    color:black;
    text-decoration: none;
}
.cta1 a:hover{
    top: -5px;
    padding:5px 20px;
}
.bullet{
    display: flex;
    width: 80%;
    column-gap: 5%;
    align-items: flex-start;
}
.bullet h2{
    padding: 0;
    margin: .2em;
    font-size: 3rem;
}
.b1{color:rgb(228, 130, 135)}
.b2{color:rgb(228, 143, 148)}
.b3{color:rgb(255,165,169)}


/*store page*/

.pagetitle{
    text-align: center;
    background-color: yellow;
    margin-top:0;
}
.store-content{
    display: flex;
    column-gap: 5vh;
    row-gap: 5vh;
    flex-wrap: wrap;
    width:80vw;
    margin:0 auto;
}
.store-content div{
    flex: 1 1 350px;
    position:relative;
    padding: 10px 0 0 10px;
}
.store-content div:hover{
    background-color: rgba(0, 0, 0, 0.096);
    transition: 100ms;
}
.store-content div:hover::before{
    position:absolute;
    bottom: 30%;
    content: url(../I/star.svg);
    width: 70%;
    transition: 100ms;
    z-index: 3;
}
.store-content video{
    position: relative;
    z-index: 2;
}
.store-content h3{
    font-size: 2rem;
    margin: 0;
}
.price{
    font-family: 'Roboto Mono', monospace;
    position: absolute;
    right: 0;
    top: -1rem;
    color: rgb(184, 184, 184);
    font-size:10rem;
    margin: 0;
    vertical-align: top;
}
.review{
    display: flex;
    width: 50%;
    padding: 10px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.048);
    margin-left: 10%;
    margin-top:4%;
    margin-bottom:2%;
    border-radius: 5px;
}
.review h2, .review p{
    margin:0;
    margin-left:5px;
}

/* footer */
.footCon{
    width: 100%;
    background-color: yellow;
    position: relative;
    padding-bottom: 25px;
}
footer{
    width: 80vw;
    display: flex;
    margin: 70px auto 0 auto;
    margin-bottom: 50px;
}
footer div{
    padding: 30px;
}
footer p{
    margin: 0 0 2 0;
}
footer a{
    color: black;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.13);
    padding:2px;
} 
footer a:hover{
    color: black;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.219);
    padding:10px;
}
.footimg{
    height: 410px;
    position: absolute;
    bottom:-25px;
    right: 0;
    z-index: -1;
}
/* contact */
.contact-content{
    display: flex;
    box-sizing: border-box;
    padding:0 10%;
    padding-bottom: 5%;
    column-gap: 5%;
}
.contact-content div{
    width: 100%;
}
form{
    box-sizing: border-box;
    padding: 0 5%;
    width: 100%;
}
form *{
    width:100%;
    display:block;
    font-family: 'Roboto Mono', monospace;

}
form input[type="text"]{
    margin-bottom: 3em;
    border: 2px solid rgb(255,165,169);
    background-color: rgb(255, 237, 237);
    height: 2em;
    border-radius: 0px;
    padding-left: 7px;
}
form input[type="submit"]{
    margin-bottom: 3em;
    border-width: 0;
    background-color:rgb(255,165,169);
    width:50%;
    height: 2em;
    border-radius: 0px;
    padding: 10px 10px 24px 17px;
}
form input[type="submit"]:hover{
    background-color: rgb(226, 123, 128);
}
form label{
    padding-bottom: 5px;
    font-size: 1em;
}
#message{
    height: 6em;
}
.noMargin{
    margin-bottom: 5%;
}
